# Directories #
build/
bin/
target/
workfiles/

# Temps and Backups #
tmp/
*.tmp
*.bak
*.swp
*~.nib

# Package Files #
*.jar
*.war
*.ear
*.db

# Windows
Thumbs.db
Desktop.ini

# OSX
.DS_Store

######################
# IntelliJ
######################
.idea/
*.iml


######################
# Java
######################
*.class
